/*
    Chloe Morscheck and Jake Martens
*/

body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1 {
    padding-left: 20px;
}

h2 {
    padding-left: 20px;
}

h3 {
    padding-left: 20px;
}

p {
    padding-left: 20px;
}

img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    mix-blend-mode: multiply;
    background:transparent;
}

img.state {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    mix-blend-mode: multiply;
    background:transparent;
}
/* Navigation bar */
ul.navbar {
    width: 100%;
    height: 65px;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a50000;
}

ul.navbar li {
    font-size: 32px;
    float:right;
    color: whitesmoke;
}

ul.navbar li a {
    color: whitesmoke;
    display: block;
    text-align: right;
    padding: 14px 45px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: rgb(56, 56, 56);
    color: white;
}

.active {
    background-color: #790101;
}

/* For two heading links on homepage*/
a.hidden_link {
    color:inherit;
    text-decoration: inherit;
}

a.hidden_link:hover {
    background-color: rgb(56, 56, 56);
    color:white;
}
/* Split screen for home page*/

.split {
    height: 90%;
    position:fixed;
    z-index: 1;
    top: 65px;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    width: 30%;
    left: 0;
    border-right-style: solid;*/
    /*outline: solid;
    outline-offset: -10px;
    outline-color: black;*/
    padding-left: 20px;
    position:fixed;
    overflow-y: hidden;
}
.right {
    width: 69%;
    right: 0;
    padding-left: 20px;
}

form {
    padding-left: 20px;
    padding-top: 20px;
}

#map-container {
    position: relative;
    float: left;

    /* Preserving the container div's aspect ratio (which should be 4:3 for
     * the Datamap US map) uses this slightly bizarre CSS trick, where you make
     * sure the height is 0 and the ratio between width and padding-bottom
     * is your desired aspect ratio. See this pretty good article for details:
     * https://css-tricks.com/aspect-ratio-boxes/
     */
    height: 0;
    width: 90%;
    padding-bottom: 60%;


    /* My friend Shaun (Carleton CS '02) is even worse than I am at the details of
     * graphic design. So when he wants to make sure the designers don't preserve
     * his color choices, he makes stuff orange to force their hand. I am using
     * orange here both to remind you to change the color, and to make visible the
     * size and aspect ratio of the US map object. */
}