<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Union Finder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='datamaps.usa.min.js') }}" ></script>
    

</head>

<body>
    <ul class="navbar">
        <li><a href="/search_cases">Cases</a></li>
        <li><a href="/search_strikes">Strikes</a></li>
        <li><a href="/search_unions">Unions</a></li>
        <li style="float:left"><a href="/">Union Finder</a></li>
    </ul>
    <div class="split left">
        <h1>Ongoing strikes</h1>
        <p id="ongoing_strikes"></p>
    </div>
    <div class="split right">
        <h1>Chapters near you</h1>
        <div id="map-container"></div>
    </div>
</body>