<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Cases</title>
    <link rel="stylesheet" href="mockup.css" type="text/css" />
</head>
<body>
    <ul class="navbar">
        <li><a href="mockup3.html">Cases</a></li>
        <li><a href="mockup4.html">Strikes</a></li>
        <li><a href="mockup2.html">Unions</a></li>
        <li style="float:left"><a href="mockup1.html">Union Finder</a></li>
    </ul>
    <div class="split left">
        <h1>Search Cases:</h1>
        <form>
            <label for="By Company Name">By Company name:</label><br>
            <input type="text" id="By Name" name="By Name"><br>
            <label for="State">State:</label><br>
            <select name="State" id="State">
                <option value="Oregon">Oregon</option>
                <option value="Massachusetts">Massachusetts</option>
            </select><br>
            <label for="Industry">Industry:</label><br>
            <select name="Industry" id="Industry">
                <option value="Agriculture">Agriculture</option>
                <option value="Arts">Arts</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">

        </form>
    </div>
    <div class="split right">
        <h1>Results:</h1>
        <h2> Amazon </h2>
        <p> Description of Violation</p>
        <h2> Amazon </h2>
        <p> Description of Violation</p>
        <h2> Amazon </h2>
        <p> Description of Violation</p>
    </div>
</body>