<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Union Finder</title>
    <link rel="stylesheet" href="mockup.css" type="text/css" />
</head>
<body>
    <ul class="navbar">
        <li><a href="mockup3.html">Cases</a></li>
        <li><a href="mockup4.html">Strikes</a></li>
        <li><a href="mockup2.html">Unions</a></li>
        <li style="float:left"><a href="mockup1.html">Union Finder</a></li>
    </ul>
    <div class="split right">
        <h1>Chapters near you</h1>
        <a href="mockup5.html"><img src="https://www.pngfind.com/pngs/m/502-5023792_united-states-map-transparent-background-hd-png-download.png"></a>
        <p> This map will be clickable, and each state will take you to a state page, similar to Mockup 5</p>
    </div>
    <div class="split left">
        <h1>Ongoing strikes</h1>
        <h2> Kellogs Strike </h2>
        <p> Lore Ipsum This is the description of the strike</p>
        <h2> Kellogs Strike </h2>
        <p> Lore Ipsum This is the description of the strike</p>
        <h2> Kellogs Strike </h2>
        <p> Lore Ipsum This is the description of the strike</p>
        <h2> Kellogs Strike </h2>
        <p> Lore Ipsum This is the description of the strike</p>
    </div>
</body>