<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search Strikes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/search_cases">Cases</a></li>
            <li class='active'><a href="/search_strikes">Strikes</a></li>
            <li><a href="/search_unions">Unions</a></li>
            <li style="float:left"><a href="/">Union Finder</a></li>
        </ul>
        <div class="split left">
            <h1>Search Strikes:</h1>
            <p>Use search constraints to 
                find previous and ongoing labor strikes, along 
                with the company, number of participants, 
                worker demands, and the location of the strike.</p>
            <div id="input_form"><p>
                <label for="By Name">Company name:</label><br>
                <input type="text" id="by_name" name="By Name"><br>
                <label for="state">State:</label><br>
                <select name="state" id="state_selector">
                </select><br>
                <label for="industry">Industry:</label><br>
                <select name="industry" id="industry">
                </select><br>
                <br>
                <label for="end_date">Check to show only strikes in progress</label>
                <input type="checkbox" id="end_date" name="end_date"><br><br>
                <input class ="button" type="submit" id="submit_button_strikes" value="Submit">
            </p>
            </div>
        </div>
        <div class="split right">
            <h1>Results:</h1>
            <p id="matching_strikes"></p>
        </div>
    </body>