<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search Cases</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    </head>
<body>
    <ul class="navbar">
        <li class='active'><a href="/search_cases">Cases</a></li>
        <li><a href="/search_strikes">Strikes</a></li>
        <li><a href="/search_unions">Unions</a></li>
        <li style="float:left"><a href="/">Union Finder</a></li>
    </ul>
    <div class="split left">
        <h1>Search Cases:</h1>
        <p>How to use this form: <br> Use search constraints to 
            find previous and ongoing labor violation cases, along 
            with the accused company, specified labor violation, 
            and the location of the case.</p>
        <div id="input_form"><p>
            <label for="By Name">Company name:</label><br>
            <input type="text" id="by_name" name="By Name"><br>
            <label for="By Case">Case number:</label><br>
            <input type="text" id="by_case_number" name="By Case"><br>
            <label for="State">State:</label><br>
            <select name="State" id="state_selector">
            </select><br>
            <label for="Region">Region:</label><br>
            <select name="region" id="region_selector"><br>
            <input class ="button" type="submit" id="submit_button_cases" value="Submit">
            </p>
            
        </div>
    </div>
    <div class="split right">
        <h1>Results:</h1>
        <!-- formatting -->
        <p id="matching_cases"></p>
    </div>
</body>