<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search Unions</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    </head>
<body>
    <ul class="navbar">
        <li><a href="/search_cases">Cases</a></li>
        <li><a href="/search_strikes">Strikes</a></li>
        <li><a href="/search_unions">Unions</a></li>
        <li style="float:left"><a href="/">Union Finder</a></li>
    </ul>
    
    <h1 style="margin-top:0; padding-top: 107px">Ongoing strikes:</h1>
    <form>
        <label for="Region">Region:</label>
        <select name="Region" id="Region">
            <!-- fill in below with js-->
            <option value="Oregon">Oregon</option>
            <option value="Massachusetts">Massachusetts</option>
        </select>
        <label for="Industry">Industry:</label>
        <select name="Industry" id="Industry">
            <!-- fill in below with js-->
            <option value="Agriculture">Agriculture</option>
            <option value="Arts">Arts</option>
        </select>
        <input type="submit" value="Submit">

    </form>
    <h1>Results:</h1>
    <!-- fill in below with js-->
        <h2> Amazon </h2>
        <p> Description of Strike</p>
        <h2> Amazon </h2>
        <p> Description of Strike</p>
        <h2> Amazon </h2>
        <p> Description of Strike</p>

</body>