<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search Strikes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/search_cases">Cases</a></li>
            <li class='active'><a href="/search_strikes">Strikes</a></li>
            <li><a href="/search_unions">Unions</a></li>
            <li style="float:left"><a href="/">Union Finder</a></li>
        </ul>
        <div class="split left">
            <h1>Search Strikes:</h1>
            <p>How to use this form: <br> Use search constraints to 
                find previous and ongoing labor strikes, along 
                with the company, number of participants, 
                worker demands, and the location of the strike.</p>
            <div id="input_form"><p>
                <label for="By Name">Company name:</label><br>
                <input type="text" id="by_name" name="By Name"><br>
                <label for="State">State:</label><br>
                <select name="State" id="state_selector">
                    <!-- fill in below with js
                    <option value="">-</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>    -->
                </select><br>
                <label for="Industry">Industry:</label><br>
                <select name="Industry" id="Industry">
                    <!-- fill in below with js-->
                    <option value="">-</option>
                    <option value="Retail">Retail Trade</option>
                    <option value="Accommodation">Accommodation and Food Services</option>
                    <option value="Health">Health Care and Social Assistance</option>
                    <option value="Educational">Educational Services</option>
                    <option value="Administrative">Administrative and Support and Waste Management</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Transportation">Transportation and Warehousing</option>
                </select><br>
                <br>
                <label for="endDate">Check to show only strikes in progress</label>
                <input type="checkbox" id="endDate" name="endDate"><br><br>
                <input class ="button" type="submit" id="submit_button_strikes" value="Submit">
            </p>
            </div>
        </div>
        <div class="split right">
            <h1>Results:</h1>
            <!-- formatting -->
            <p id="matching_strikes"></p>
        </div>
    </body>