<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Minnesota Union Facts</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    </head>
<body>
    <ul class="navbar">
        <li><a href="/search_cases">Cases</a></li>
        <li><a href="/search_strikes">Strikes</a></li>
        <li><a href="/search_unions">Unions</a></li>
        <li style="float:left"><a href="/">Union Finder</a></li>
    </ul>
    <div class="split left">
        <h1>Minnesota</h1>
        <h2>General stats:</h2>
        <img class="state" src="https://cdn.imgbin.com/1/19/9/imgbin-minnesota-map-lines-7tfDXfvj6Rt9gpeQVxFsixBc2.jpg">
        <h2>Local Labor Violations</h2>
        <h3><a href="mockup3.html">Go to Cases Search</a></h3>
        <h2> Amazon </h2>
        <p> Description of Violation</p>
        <h2> Amazon </h2>
        <p> Description of Violation</p>
        <h2> Amazon </h2>
        <p> Description of Violation</p>
    </div>
    <div class="split right">
        <h1>Local Union Chapters:</h1>
        <h3><a href="mockup2.html">Go to Unions Search</a></h3>
        <h2> AAA </h2>
        <p> Description of Union</p>
        <h2> AAA </h2>
        <p> Description of Union</p>
        <h2> AAA </h2>
        <p> Description of Union</p>
    </div>
</body>